[Desktop Entry]
Name=Alt KDE Helper
Comment=Настройка и обслуживание Alt Linux KDE
Exec=/opt/alt-kde-helper/alt-kde-helper
Icon=alt-kde-helper
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
StartupWMClass=alt-kde-helper
